:root {
    --clr-blue-100: #4A00FF;
    --clr-blue-300: #64748B;
    --clr-blue-400: #64748B;
    --clr-blue-800: #1F2937;
    --clr-light-100: #FFFFFF;
    --clr-light-200: #F8FAFC;
    --clr-light-300: #E4E4E7;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Geist", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

main {
    background-color: #F8FAFC;
    height: 100vh;
    display: grid;
    place-items: center;
}

#login {
    width: min(520px, 100%);
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px;
    border-radius: 8px;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
    background-color: var(--clr-light-100);
}

header {
    display: grid;
    gap: 24px;
    justify-items: center;
}

header div {
    display: grid;
    justify-items: center;
    gap: 4px;
}

header h1 {
    font-size: 24px;
    font-weight: 600;
    color: var(--clr-blue-800);
}

header div p {
    font-size: 16px;
    color: var(--clr-blue-300);
}

#form {
    display: grid;
    gap: 16px;
    border: unset;
}

#form div {
    display: grid;
    gap: 8px;
}

#form label {
    font-size: 16px;
    font-weight: 500;
    color: var(--clr-blue-800);
}

#form input {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--clr-light-300);
    margin-bottom: 2px;
    font-size: 16px;
    color: var(--clr-blue-800);
}

#form input::placeholder {
    font-size: 16px;
    color: var(--clr-blue-400);
}

#form p {
    font-size: 14px;
    color: var(--clr-blue-100);
}

#form button {
    font-size: 16px;
    font-weight: 600;
    color: var(--clr-light-100);
    padding: 16px;
    border-radius: 8px;
    background-color: var(--clr-blue-100);
    border: unset;
    cursor: pointer;
    &[disabled] {
        background-color: #4A00FFCC;
        cursor: not-allowed;
    }
}

.divider {
    font-size: 16px;
    color: var(--clr-blue-800);
    align-items: center;
    display: flex;
    gap: 1rem;
}

.divider::before, .divider::after {
    content: '';
    background-color: var(--clr-light-300);
    height: 1px;
    flex: 1;
}

.demo {
    display: grid;
    justify-items: center;
    gap: 8px;
}

.demo h2 {
    font-size: 14px;
    font-weight: 400;
    color: var(--clr-blue-400);
}

.demo .demo-creds {
    padding: 24px;
    display: grid;
    place-items: center;
    gap: 10px;
    background-color: var(--clr-light-200);
    border-radius: 8px;
    width: 100%;
}

.demo-creds p {
    font-size: 16px;
    font-weight: 600;
    color: var(--clr-blue-800);
}

.demo-creds p span {
    font-weight: 400;
}

#error-message {
    text-align: center;
    color: red;
}
